<h1 style = "color:black">Stored Workouts</h1>

 <%= link_to 'Create a new workout', new_workout_path, {:style=> 'size:150px'} %><br>
<br>
<table>
  <tr>
    <th style = "color:black"style = "color:black">Workouts</th>
    <th style = "color:black">Description</th>
    <th style = "color:black">Date</th>
  </tr>
 
  <% @workouts.each do |workout| %>
    <tr style = "color:black">
      <td><%= workout.workout %></td>
      <td><%= workout.description %></td>
      <td><%= workout.date %></td>
      <td><%= link_to 'Show ', workout_path(workout) %></td>
      <td><%= link_to ' Edit ', edit_workout_path(workout) %></td>
      <td><%= link_to ' Destroy ',
                             workout_path(workout),
                             method: :delete,
                             data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<br>
<%= link_to 'Home Page ', welcome_index_url %>