<br>
<br>
<p style = "color:black; font-size:175%">
    <strong>Workout Name: </strong>
    <%= @workout.workout %>
</p>
<p style = "color:black; font-size:175%">
    <strong>Description: </strong>
    <%= @workout.description %>
</p>
<p style = "color:black; font-size:175%">
    <strong>Workout Date: </strong>
    <%= @workout.date %>
    
    
<h2 style = "color:black; font-size:160%"><strong>Notes: </strong></h2>
<%= render @workout.comments %>


<h2 style = "color:black; font-size: 125%"><strong>Add a note:</strong></h2>
<%= render 'comments/form' %>



</p>
<td><%= link_to ' Edit ', edit_workout_path(@workout), class: 'btn btn-primary btn-xs' %></td><br>
<br>
<%= link_to 'Add another workout ', new_workout_path, class: 'btn btn-primary btn-xs' %><br>
<br>
<%= link_to 'Workouts Page ', workouts_path, class: 'btn btn-primary btn-xs' %><br>
<br>
<%= link_to 'Home Page ', welcome_index_url, class: 'btn btn-primary btn-xs' %><br>
