<p>
    <strong>Workout Name </strong>
    <%= @workout.workout %>
</p>
<p>
    <strong>Description </strong>
    <%= @workout.description %>
</p>
<p>
    <strong>Workout Date </strong>
    <%= @workout.date %>
</p>
<%= link_to 'Add another workout ', new_workout_path %>
<br>
<%= link_to 'Workouts Page ', workouts_path %>
<br>
<%= link_to 'Home Page ', welcome_index_url %>